@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --shadow-mentor-shadow: 0px 4px 20px rgba(110, 127, 185, 0.1);

  --inset-54\%: 54%;

  --color-primary: #c97845;
  --color-cream: #fff4ea;
  --color-success: #6b9f36;
  --color-orange: #f6c998;

  --background-image-banner-image: var(--banner-url);
  --background-image-newsletter: var(--newsletter-url);

  --animate-bounce-slow: bounce-slow 3s infinite;
  --animate-float: float 4s ease-in-out infinite;

  @keyframes bounce-slow {
    0%, 100% { transform: translateY(-15%); animation-timing-function: cubic-bezier(0.8,0,1,1); }
    50% { transform: none; animation-timing-function: cubic-bezier(0,0,0.2,1); }
  }

  @keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  section {
    @apply py-14
  }

  h1 {
    @apply text-black md:text-7xl sm:text-6xl text-5xl
  }

  h2 {
    @apply text-black sm:text-5xl text-4xl
  }
}

@layer utilities {
  .container {
    @apply max-w-7xl mx-auto w-full px-4;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-black dark:bg-slate-950 dark:text-white;
}

#testimonial-section .testimonial-slider .slick-track {
  display: flex;
}

#testimonial-section .testimonial-slider .slick-slide {
  height: inherit;
}

#testimonial-section .testimonial-slider .slick-slide > div {
  height: 100%;
}
